{% extends "base.html.twig" %}

{% block title %}Backoffice | Formulaire d'article
{% endblock %}

{% block body %}

	<h1 class="display-4 text-center my-4">

		{% if editMode %}

			BACKOFFICE | Modification de l'article
		{% else %}
			BACKOFFICE | Poster un nouvel article
		{% endif %}

	</h1>

	{{ form_start(articleForm) }}

	{{ form_row(articleForm.title, {
    'label': 'Titre'
}) }}

	{{ form_row(articleForm.category, {
    'label': 'Catégories'
}) }}

	{{ form_row(articleForm.content, {
    'label': 'Contenu'
}) }}

	{{ form_row(articleForm.imageFile, {
    'label': "Image de l'article"
}) }}

	<button type="submit" class="btn btn-primary mt-2">

		{% if editMode %}
			Enregister les modifications
		{% else %}
			Ajouter l'article
		{% endif %}

	</button>

	{{ form_end(articleForm) }}

{% endblock %}