{% extends 'base.html.twig' %}

{% block title %}Liste des articles
{% endblock %}

{% block body %}

	<h2 class="text-center mt-2">Liste des articles</h2>

	<section class="row articles">
		{% for article in articles %}
			<article class="col-md-5 mx-auto text-center border border-dark border-1 mb-3 p-3 mt-3 mr-1">

				<h2>{{ article.title }}</h2>

				<div class="metadata mt-2">Ecrit le
					{{ article.createdAt | date('d/m/Y à H:i:s') }}<br>
					dans la categorie
					{{ article.category.title}}
				</div>

				<div class="content">

					<img src="{{ asset('images/articles/' ~ article.image) }}" alt="" style="width: 150px"> <br> <br>
					{# asset() est une fonction TWIG permettant entre autres d'afficher une image en lui passant le chemin vers  #}
					{{ article.content | slice(0, 10) | raw}}<br> <br>
					{# slice permet d'afficher le nombre de mot dans l'article #}
					<a href="{{path('blog_show', {'id': article.id})}}" class="btn btn-danger">Lire la suite</a>
				</div>
			</article>
		{% endfor %}
	</section>
{% endblock %}
